// .EditorContainer {

// }

// .EditorFields {
//     ul > li {
//         list-style-type: none;
//     }
// }

// ul {
//     padding: 0;
// }

// .switcher-buttons {
//     display: flex;
//     flex-direction: column;
// }
// .user-name {
//     margin-right: 5px;
// }

.EditorFields {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.EditorFields .fields {
    margin-top: 20px;
}

.EditorFields label {
    display: block;
    margin-bottom: 5px;
}

.EditorFields textarea {
    resize: vertical;
}